<header class="shadow-md p-3 w-full">
    <div class="flex align-middle items-center justify-between max-w-screen mx-auto">
        <img src="/images/logo.png" alt="app logo" class="max-h-16">
        <nav class="flex gap-3 my-2 uppercase text-xl">
            <a href="">Home</a>
            <a href="">Contact</a>
        </nav>
        @if (accountService.currentUser()) {
            <div class="flex gap-3 align-middle">
                <button (click)="logout()">
                    Logout
                </button>
            </div>
        } @else {
            <div class="flex gap-3 align-middle">
                <button mat-flat-button routerLink="/account/login">
                    Sign in
                </button>
            </div>
        }
    </div>
</header>